{{define "app-body"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Swapgap</title>
    <link rel="icon" type="image/png" href="https://storage.googleapis.com/swapgap/static/web/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <style>
        html, body {
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            color: hsla(231, 10%, 25%, 0.95);
        }
        .container {
			padding: 16px;
			text-align: center;
			max-width: 500px;
            margin-top: 10%;
		}
        h1 {
            font-size: 5.6rem;
            margin: 10px 0 20px;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    </style>
</head>

<body>

    <div class="container">
        <img src="https://storage.googleapis.com/swapgap/static/web/browser-error2.png" alt="">
        <h1 class="code">500</h1>
        <p>
            Something went wrong. Sorry about that. <br>
            We are working on fixing it rigth now.
        </p>
    </div>

</body>

</html>
{{end}}