{{define "post-item"}}
<div class="content">
    <div class="card">
        <div class="card-header">
        <div class="profile">
            <a href="content.html" class="img"></a>
        </div>
        <div class="details">
            <a href="content.html" class="name">
            NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
            </a>
            <div class="times">
            8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
            </div>
        </div>
        </div>
        <a href="content.html" class="content-body">
        <div class="image">
        </div>
        </a>
    </div>
    <div class="card">
            <div class="card-header">
            <div class="profile">
                <a href="content.html" class="img"></a>
            </div>
            <div class="details">
                <a href="content.html" class="name">
                NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
                </a>
                <div class="times">
                8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
                </div>
            </div>
            </div>
            <a href="content.html" class="content-body">
            <div class="image">
            </div>
            </a>
    </div>
    <div class="card">
            <div class="card-header">
            <div class="profile">
                <a href="content.html" class="img"></a>
            </div>
            <div class="details">
                <a href="content.html" class="name">
                NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
                </a>
                <div class="times">
                8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
                </div>
            </div>
            </div>
            <a href="content.html" class="content-body">
            <div class="image">
            </div>
            </a>
    </div>
    <div class="card">
            <div class="card-header">
            <div class="profile">
                <a href="content.html" class="img"></a>
            </div>
            <div class="details">
                <a href="content.html" class="name">
                NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
                </a>
                <div class="times">
                8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
                </div>
            </div>
            </div>
            <a href="content.html" class="content-body">
            <div class="image">
            </div>
            </a>
    </div>
    <div class="card">
            <div class="card-header">
            <div class="profile">
                <a href="content.html" class="img"></a>
            </div>
            <div class="details">
                <a href="content.html" class="name">
                NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
                </a>
                <div class="times">
                8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
                </div>
            </div>
            </div>
            <a href="content.html" class="content-body">
            <div class="image">
            </div>
            </a>
    </div>
    <div class="card">
            <div class="card-header">
            <div class="profile">
                <a href="content.html" class="img"></a>
            </div>
            <div class="details">
                <a href="content.html" class="name">
                NithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszzNithiszz
                </a>
                <div class="times">
                8ชั่วโมงที่แล้วววววววววววววววววววววววววววววววววววววววววววววว
                </div>
            </div>
            </div>
            <a href="content.html" class="content-body">
            <div class="image">
            </div>
            </a>
    </div>
</div>
{{end}}