{{define "post-item"}}
<div class="post">
    <a href="{{route "post.read"}}" class="content-body">
        <div class="image" style="background: url('https://storage.googleapis.com/watgok_bucket/dummy/1.jpg')">
        </div>
    </a>
    <div class="text-body">
        <p class="title">
            วันลอยกระทงจุดเทียนทำบุญประจำปี 2018
        </p>
        <p class="description">
            วันเพ็ญเดือน 12 น้ำในคลองเต็มตะหลิงเราทั้งหลายชายหญิงสนุกกันจริงวันลอยกระทง
        </p>
    </div>
    <div class="post-header">
        <div class="profile">
            <a href="{{route "post.read"}}" class="img"></a>
        </div>
        <div class="details">
            <a href="{{route "post.read"}}" class="name">
            เจ้าอาวาท
            </a>
        </div>
    </div>
</div>
<div class="post">
        <a href="{{route "post.read"}}" class="content-body">
            <div class="image" style="background: url('https://storage.googleapis.com/watgok_bucket/dummy/2.jpg')">
            </div>
        </a>
        <div class="text-body">
            <p class="title">
                วันพระใหญ่ร่วมทำบุญประจำปี 2018
            </p>
            <p class="description">
                ขอเชิญพี่น้องมาร่วมทำบุญพระใหญ่ในวันที่ 3 ธันวาคม 2561
            </p>
        </div>
        <div class="post-header">
            <div class="profile">
                <a href="{{route "post.read"}}" class="img"></a>
            </div>
            <div class="details">
                <a href="{{route "post.read"}}" class="name">
                เจ้าอาวาท
                </a>
            </div>
        </div>
    </div>
<div class="post">
        <a href="{{route "post.read"}}" class="content-body">
            <div class="image" style="background: url('https://storage.googleapis.com/watgok_bucket/dummy/3.jpg')">
            </div>
        </a>
        <div class="text-body">
            <p class="title">
                บูรณะกุฏิ
            </p>
            <p class="description">
                ขอเชิญพ่อแม่พี่น้องลงแรงกายและใจช่วยกันบูรณะกุฎิเจ้าอาวาท
            </p>
        </div>
        <div class="post-header">
            <div class="profile">
                <a href="{{route "post.read"}}" class="img"></a>
            </div>
            <div class="details">
                <a href="{{route "post.read"}}" class="name">
                ลูกศิษย์1
                </a>
            </div>
        </div>
    </div>
<div class="post">
        <a href="{{route "post.read"}}" class="content-body">
            <div class="image" style="background: url('https://storage.googleapis.com/watgok_bucket/dummy/4.jpg')">
            </div>
        </a>
        <div class="text-body">
            <p class="title">
                ประวัติความเป็นมาของวัดเกาะแก้วเกษฎาราม
            </p>
            <p class="description">
                ประวัติความเป็นมาของวัดเกาะแก้วเกษฎาราม
            </p>
        </div>
        <div class="post-header">
            <div class="profile">
                <a href="{{route "post.read"}}" class="img"></a>
            </div>
            <div class="details">
                <a href="{{route "post.read"}}" class="name">
                เจ้าอาวาท
                </a>
            </div>
        </div>
    </div>
<div class="post">
        <a href="{{route "post.read"}}" class="content-body">
            <div class="image" style="background: url('https://storage.googleapis.com/watgok_bucket/dummy/1.jpg')">
            </div>
        </a>
        <div class="text-body">
            <p class="title">
                วันลอยกระทงจุดเทียนทำบุญประจำปี 2017
            </p>
            <p class="description">
                วันเพ็ญเดือน 12 น้ำในคลองเต็มตะหลิงเราทั้งหลายชายหญิงสนุกกันจริงวันลอยกระทง
            </p>
        </div>
        <div class="post-header">
            <div class="profile">
                <a href="{{route "post.read"}}" class="img"></a>
            </div>
            <div class="details">
                <a href="{{route "post.read"}}" class="name">
                เจ้าอาวาท
                </a>
            </div>
        </div>
    </div>
{{end}}