body {
  display: block;
  height: 100%;
}
.bg {
  height: 100%;
  width: 100%;
  background: url('https://storage.googleapis.com/watgok_bucket/bg-cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid {
  position: relative;
  padding: 0;
  max-width: 1920px;
}
.banner {
  position: relative;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.content {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  overflow: hidden;
}

.content .post {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
  width: calc(20% - 20px);
}

.content .post .post-header {
  display: flex;
  overflow: hidden;
  padding: 10px;
}

.content .post .post-header .profile {
  flex-grow: 0;
}

.content .post .post-header .profile .img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: url('https://images.unsplash.com/photo-1501013272247-a608485997d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04a4953f67411b0ea3cb46438bd6c9eb&auto=format&fit=crop&w=750&q=80 750w');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .post .post-header .details {
  margin-left: 5px;
  width: 100%;
  align-self: center;
}

.content .post .post-header .name {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  max-width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content .post .post-header .times {
  display: block;
  width: 100%;
  max-width: calc(100% - 50px);
  margin-top: 5px;
  font-size: 11px;
  color: #7e7e7e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content .post .content-body {
  flex-grow: 1;
}

.content .post .content-body .image {
  min-height: 200px;
  max-height: 200px;
  background: url('https://storage.googleapis.com/watgok_bucket/banner.jpg');
  background-position: 50%;
  border-radius: 5px 5px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content .post .content-body {
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.content .post .text-body {
  padding: 15px;
}

.content .post .text-body .title {
  font-size: 20px;
  font-weight: bold;
}
.content .post .text-body .description {
  font-size: 14px;
}

.content .post .content-body:hover .overlay {
  bottom: 0;
}
.content .post .content-body .overlay {
  position: absolute;
  bottom: -47px;
  padding: 10px;
  box-sizing: border-box;
  flex-flow: column wrap;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  transition: 0.2s ease-out;
  user-select: none;
}

.content .post .content-body .overlay .title {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.content .post .content-body .overlay .description {
  flex-grow: 1;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 1393px) {
  .content .post {
    width: calc(25% - 20px);
  }
}
@media screen and (max-width: 1100px) {
  .content .post {
    width: calc(33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .content .post {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 578px) {
  .content .post {
    width: calc(100% - 20px);
  }
}
