.post-read {
  flex-wrap: wrap;
  margin-top: 20px;
  .container-postread {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 50px 90px 32px 90px;
    border-radius: 2px;
    margin-left: auto;
  }
  .container-sidebar {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 32px;
    border-radius: 2px;
    margin-right: auto;
  }
}
._pd-lr10{
  padding: 0 10px;
}
._dp-f {
  display: flex !important;
}