{{define "app-body"}}
<div class="container-fluid">
    <div class="banner">
        <img src="https://storage.googleapis.com/watgok_bucket/banner.jpg" alt="">
    </div>
    <div class="content">
        {{template "post-item" .}}
    </div>
</div>
{{end}}