{{define "app-body"}}
<div class="container-fluid _pd-lr10">
    <div class="row post-read">
        <div class="col-12 col-lg-9 _dp-f">
            <div class="container-postread">
                สวัสดีหน้าอ่านโพส์
            </div>
        </div>
        <div class="col-12 col-lg-3 _dp-f">
            <div class="container-sidebar">
                สวัสดีไซด์บาร์
            </div>
        </div>
    </div>
</div>
{{end}}